.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.image-placeholder {
  background: var(--white, #ffffff);
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: hidden;
}
.image-1 {
  background: linear-gradient(
    to left,
    rgba(58, 58, 58, 0.42),
    rgba(58, 58, 58, 0.42)
  );
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  object-fit: cover;
}
.calendar-default {
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 502px;
  position: absolute;
  left: calc(50% - 242px);
  top: calc(50% - 227px);
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.may-2023 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  font-weight: 900;
  position: relative;
}
.frame-9 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.chevron {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-10 {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.chevron2 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  transform: rotate(180deg) scale(-1, 1);
}
.frame-102 {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.days {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Adjust spacing */
  width: 100%; /* Ensure it spans the full width */
}

.cell, .cell2 {
  flex: 1; /* Ensure equal spacing for all days */
  text-align: center;
}

.cell {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.mo {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell2 {
  margin: 0 0 0 -1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.tu {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.we {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.th {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fr {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sa {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.su {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row2 {
  margin: -1px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cell3 {
  border-style: solid;
  border-color: var(--stroke, #d5d4df);
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._1 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell4 {
  margin: 0 0 0 -1px;
  border-style: solid;
  border-color: var(--stroke, #d5d4df);
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._3 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._4 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._5 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._6 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._7 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._8 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._9 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._10 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._11 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._12 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._13 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._14 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._15 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._16 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._17 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell5 {
  margin: 0 0 0 -1px;
  background: var(--active, #45539d);
  border-style: solid;
  border-color: var(--stroke, #d5d4df);
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._18 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._19 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._20 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._21 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._22 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._23 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._24 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._25 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._26 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._27 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._28 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._29 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._30 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell6 {
  margin: 0 0 0 -1px;
  background: var(--inactive, #f2f3f7);
  border-style: solid;
  border-color: var(--stroke, #d5d4df);
  border-width: 1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._210 {
  color: #a8a8a8;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._32 {
  color: #a8a8a8;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._42 {
  color: #a8a8a8;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._52 {
  color: #a8a8a8;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-4 {
  background: #3c7b2d;
  border-radius: 20px;
  width: 231px;
  height: 80px;
  position: absolute;
  left: 427px;
  top: 809px;
}
.rectangle-2 {
  background: #3c7b2d;
  border-radius: 20px;
  width: 161px;
  height: 58px;
  position: absolute;
  left: 427px;
  top: 200px;
}
.add {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 423px;
  top: 194px;
  width: 170px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  background: rgba(65, 154, 75, 0.37);
  border-bottom: 1px solid var(--white, #ffffff);
  padding: 24px 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; 
  margin: auto;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}
.good-blessings-llc {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h4-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h4-600-font-size, 38px);
  line-height: var(--headings-h4-600-line-height, 48px);
  font-weight: var(--headings-h4-600-font-weight, 600);
  position: relative;
}

.home {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h7-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h7-600-font-size, 16px);
  line-height: var(--headings-h7-600-line-height, 24px);
  font-weight: var(--headings-h7-600-font-weight, 600);
  position: relative;
}
.services {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h7-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h7-600-font-size, 16px);
  line-height: var(--headings-h7-600-line-height, 24px);
  font-weight: var(--headings-h7-600-font-weight, 600);
  position: relative;
}
.schedule {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h7-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h7-600-font-size, 16px);
  line-height: var(--headings-h7-600-line-height, 24px);
  font-weight: var(--headings-h7-600-font-weight, 600);
  position: relative;
}
.inventory {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h7-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h7-600-font-size, 16px);
  line-height: var(--headings-h7-600-line-height, 24px);
  font-weight: var(--headings-h7-600-font-weight, 600);
  position: relative;
}
.invoices {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h7-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h7-600-font-size, 16px);
  line-height: var(--headings-h7-600-line-height, 24px);
  font-weight: var(--headings-h7-600-font-weight, 600);
  position: relative;
}
.reports {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h7-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h7-600-font-size, 16px);
  line-height: var(--headings-h7-600-line-height, 24px);
  font-weight: var(--headings-h7-600-font-weight, 600);
  position: relative;
}
.customer-details {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 18px;
  font-weight: 500;
  position: absolute;
  left: 423px;
  top: 808px;
  width: 230px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-5 {
  background: #3c7b2d;
  border-radius: 20px;
  width: 230px;
  height: 80px;
  position: absolute;
  left: 720px;
  top: 808px;
}
.service-details {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 18px;
  font-weight: 500;
  position: absolute;
  left: 720px;
  top: 840px;
  width: 224px;
  display: flex;
  align-items: center;
  justify-content: center;
}

