.inventory-rd,
.inventory-rd * {
  box-sizing: border-box;
}
.inventory-rd {
  background: var(--white, #ffffff);
  height: 1208px;
  position: relative;
  overflow: hidden;
}
.package-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 388px;
  position: absolute;
  left: 98px;
  top: 304px;
  box-shadow: var(
    --drop-shadow-box-shadow,
    18px 15px 35px 0px rgba(0, 0, 0, 0.09)
  );
}
.frame-32 {
  background: var(--accent-1, #2da884);
  border-radius: 16px 16px 0px 0px;
  padding: 32px 48px 32px 48px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.routine {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --headings-h6-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h6-600-font-size, 21px);
  line-height: var(--headings-h6-600-line-height, 24px);
  font-weight: var(--headings-h6-600-font-weight, 600);
  position: relative;
  width: 164px;
}
.frame-33 {
  background: var(--white, #ffffff);
  border-radius: 100px;
  padding: 16px 40px 16px 40px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 132px;
  position: relative;
  overflow: hidden;
}
.list {
  color: var(--accent-1, #2da884);
  text-align: center;
  font-family: var(
    --headings-h6-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h6-600-font-size, 21px);
  line-height: var(--headings-h6-600-line-height, 24px);
  font-weight: var(--headings-h6-600-font-weight, 600);
  position: relative;
  width: 95px;
}
.frame-34 {
  background: var(--white, #ffffff);
  border-style: solid;
  border-color: var(--accent-1, #2da884);
  border-width: 0px 0px 1px 0px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-35 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.everyday-use {
  color: var(--accent-1, #2da884);
  text-align: center;
  font-family: var(
    --headings-h2-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h2-600-font-size, 67px);
  line-height: var(--headings-h2-600-line-height, 72px);
  font-weight: var(--headings-h2-600-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.frame-352 {
  background: var(--white, #ffffff);
  border-radius: 0px 0px 16px 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-37 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-36 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-25 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.group-47 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.lawn-mower {
  color: var(--accent-1, #2da884);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-6 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-26 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.group-472 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.rake {
  color: var(--accent-1, #2da884);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-7 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-27 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.group-473 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.truck {
  color: var(--accent-1, #2da884);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-8 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-28 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.group-474 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.equipment-and-machinery {
  color: var(--accent-1, #2da884);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-9 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-332 {
  background: var(--accent-1, #2da884);
  border-radius: 100px;
  padding: 24px 40px 24px 40px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.please-check-availability {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: var(
    --headings-h6-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h6-600-font-size, 21px);
  line-height: var(--headings-h6-600-line-height, 24px);
  font-weight: var(--headings-h6-600-font-weight, 600);
  position: relative;
  flex: 1;
}
.package-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 388px;
  position: absolute;
  left: 526px;
  top: 304px;
  box-shadow: var(
    --drop-shadow-box-shadow,
    18px 15px 35px 0px rgba(0, 0, 0, 0.09)
  );
}
.projects {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --headings-h6-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h6-600-font-size, 21px);
  line-height: var(--headings-h6-600-line-height, 24px);
  font-weight: var(--headings-h6-600-font-weight, 600);
  position: relative;
  width: 164px;
}
.frame-342 {
  background: var(--white, #ffffff);
  border-style: solid;
  border-color: var(--accent-1, #2da884);
  border-width: 0px 0px 3px 0px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.special-request {
  color: var(--accent-1, #2da884);
  text-align: center;
  font-family: var(
    --headings-h2-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h2-600-font-size, 67px);
  line-height: var(--headings-h2-600-line-height, 72px);
  font-weight: var(--headings-h2-600-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.group-475 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.snow-plower {
  color: var(--accent-1, #2da884);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-62 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.group-476 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.tractor {
  color: var(--accent-1, #2da884);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-72 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.group-477 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.irrigation-tracks {
  color: var(--accent-1, #2da884);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-82 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.group-478 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.ladder {
  color: var(--accent-1, #2da884);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-10 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-29 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.group-479 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.permits-and-inspection-fees {
  color: var(--accent-1, #2da884);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-92 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.package-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 388px;
  position: absolute;
  left: 954px;
  top: 304px;
  box-shadow: var(
    --drop-shadow-box-shadow,
    18px 15px 35px 0px rgba(0, 0, 0, 0.09)
  );
}
.frame-322 {
  background: var(--white, #ffffff);
  border-radius: 16px 16px 0px 0px;
  padding: 32px 48px 32px 48px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.all {
  color: var(--accent-1, #2da884);
  text-align: left;
  font-family: var(
    --headings-h6-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h6-600-font-size, 21px);
  line-height: var(--headings-h6-600-line-height, 24px);
  font-weight: var(--headings-h6-600-font-weight, 600);
  position: relative;
  width: 164px;
}
.frame-333 {
  background: var(--accent-1, #2da884);
  border-radius: 100px;
  padding: 16px 40px 16px 40px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 132px;
  position: relative;
  overflow: hidden;
}
.list2 {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: var(
    --headings-h6-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h6-600-font-size, 21px);
  line-height: var(--headings-h6-600-line-height, 24px);
  font-weight: var(--headings-h6-600-font-weight, 600);
  position: relative;
  width: 94px;
}
.frame-343 {
  background: var(--accent-1, #2da884);
  border-style: solid;
  border-color: var(--white, #ffffff);
  border-width: 0px 0px 3px 0px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.all-items {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: var(
    --headings-h2-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h2-600-font-size, 67px);
  line-height: var(--headings-h2-600-line-height, 72px);
  font-weight: var(--headings-h2-600-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.frame-353 {
  background: var(--accent-1, #2da884);
  border-radius: 0px 0px 16px 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.group-4710 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.leaf-blower {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-63 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.group-4711 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.rake2 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-73 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.group-4712 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.pick-up-truck {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-83 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.group-4713 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.wheelbarrow {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-102 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.group-4714 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.shovel {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-93 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-30 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.group-4715 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.gravel {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  flex: 1;
}
.vector-11 {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.frame-334 {
  background: var(--white, #ffffff);
  border-radius: 100px;
  padding: 24px 40px 24px 40px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.please-check-availability2 {
  color: var(--accent-1, #2da884);
  text-align: center;
  font-family: var(
    --headings-h6-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h6-600-font-size, 21px);
  line-height: var(--headings-h6-600-line-height, 24px);
  font-weight: var(--headings-h6-600-font-weight, 600);
  position: relative;
  flex: 1;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  width: 729px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 128px;
}
.inventory {
  color: var(--heading, #232a42);
  text-align: center;
  font-family: var(
    --headings-h2-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h2-600-font-size, 67px);
  line-height: var(--headings-h2-600-line-height, 72px);
  font-weight: var(--headings-h2-600-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.below-are-inventory-items-that-are-accessible-for-various-different-tasks-along-with-the-amount-we-have-in-stock {
  color: var(--paragraph, #525252);
  text-align: center;
  font-family: var(
    --main-text-p1-400-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--main-text-p1-400-font-size, 16px);
  line-height: var(--main-text-p1-400-line-height, 24px);
  font-weight: var(--main-text-p1-400-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.navbar {
  background: rgba(65, 154, 75, 0.37);
  border-style: solid;
  border-color: var(--white, #ffffff);
  border-width: 0px 0px 1px 0px;
  padding: 24px 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; 
  margin: auto;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}
.good-blessings-llc {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h4-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h4-600-font-size, 38px);
  line-height: var(--headings-h4-600-line-height, 48px);
  font-weight: var(--headings-h4-600-font-weight, 600);
  position: relative;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 697px;
  position: relative;
}
.home {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h7-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h7-600-font-size, 16px);
  line-height: var(--headings-h7-600-line-height, 24px);
  font-weight: var(--headings-h7-600-font-weight, 600);
  position: relative;
}
.services {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h7-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h7-600-font-size, 16px);
  line-height: var(--headings-h7-600-line-height, 24px);
  font-weight: var(--headings-h7-600-font-weight, 600);
  position: relative;
}
.schedule {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h7-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h7-600-font-size, 16px);
  line-height: var(--headings-h7-600-line-height, 24px);
  font-weight: var(--headings-h7-600-font-weight, 600);
  position: relative;
}
.inventory2 {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h7-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h7-600-font-size, 16px);
  line-height: var(--headings-h7-600-line-height, 24px);
  font-weight: var(--headings-h7-600-font-weight, 600);
  position: relative;
}
.invoices {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h7-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h7-600-font-size, 16px);
  line-height: var(--headings-h7-600-line-height, 24px);
  font-weight: var(--headings-h7-600-font-weight, 600);
  position: relative;
}
.reports {
  color: #000000;
  text-align: left;
  font-family: var(
    --headings-h7-600-font-family,
    "Montserrat-SemiBold",
    sans-serif
  );
  font-size: var(--headings-h7-600-font-size, 16px);
  line-height: var(--headings-h7-600-line-height, 24px);
  font-weight: var(--headings-h7-600-font-weight, 600);
  position: relative;
}
